---
apiVersion: apps/v1
kind: Deployment 
metadata:
  name: rabbitmq
spec:
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq 
          image: rabbitmq:3 
          ports:
            - containerPort: 1883
            - containerPort: 5672
            - containerPort: 15672
            - containerPort: 15675
